// style.scss
@import "site/theme"; // Make sure this points to your theme file

/* Hide the URL under the profile picture */
header .profile-text:first-of-type {
  display: none;
}

/* Hide the download section */
section .downloads {
  display: none;
}

/* Hide the "This project is maintained by..." text */
footer .maintained-by {
  display: none;
}
